@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 77px;
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
nav .name{
    width: 128px;
    height: 33px;
    left: 116px;
    top: 15px;

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
} 

nav .button-resume{
    width: 244px;
height: 57px;
left: 1012px;
top: 3px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 17px 24px 17px 24px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


#hero{
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
}

#hero .hero-content{
    position: absolute;
    width: 998px;
    height: 581px;
    left: 215px;
    right: 215px;
    top: 110px;
    
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    padding: 0px;
}
#hero .hero-content .title{
width: 998px;
height: 136px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 20;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 35px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}


#hero .hero-content .description{
    width: 852px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;

opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

#hero .hero-content .button-contact{


width: 244px;
height: 65px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 21px 24px 21px 24px;


flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

border-radius: 8px;
background: rgb(13, 19, 33);

width: 196px;
height: 23px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 21px 24px 21px 24px;


color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

#development-card{
    position: absolute;
    height: 1393px;
    left: 79px;
    right: 221px;
    top: 750.5px;
    bottom: 2925.5px;

    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 80px 97px 80px 97px;

border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}

#development-card .card-header{
    position: static;
    width: 852px;
    height: 113px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15;
    padding: 0px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 48px 0px;
 
}

#development-card .card-header h1{
    position: static;
width: 852px;
height: 37px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

#development-card .card-header p{
position: static;
width: 852px;
height: 52px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

#development-card .card{
    position: static;
    width: 946px;
    height: 336px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 48px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;

border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

#development-card .card .card-content{
    position: static;
width: 477px;
height: 219px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

#development-card .card .card-content h2{

 position: static;
width: 390px;
height: 72px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}


#development-card .card .card-content p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8;
    padding: 0px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;

    opacity: 0.7;

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;

}

#development-card .card .card-content button{

position: static;
width: 171px;
height: 47px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px 16px 10px 16px;

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

#inspiration{

    position: absolute;
width: 1140px;
height: 775px;
left: 148px;
right: 152px;
top: 2340px;
bottom: 2130px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
padding: 0px;
}

#inspiration .video-header h1{
    position: static;
    width: 852px;
    height: 37px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

#inspiration .video-header p{
    position: static;
    width: 852px;
    height: 52px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding: 0px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;


opacity: 0.7;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
#inspiration .video{
    position: static;
    width: 1076px;
    height: 550px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    border-radius: 16px;
}

#target{

    position: absolute;
    width: 1140px;
    height: 550px;
    left: 150px;
    right: 150px;
    top: 3000px;
    bottom: 535px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;
}

#target h1{

position: static;
width: 852px;
height: 37px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}


#target p{

    position: static;
    width: 852px;
    height: 52px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 0px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    opacity: .7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}
#target .target-card{
    position: static;
width: 1140px;
height: 300px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}

#target .target-card .card{
    position: static;
width: 250px;
height: 250px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;

position: static;
width: 284px;
height: 219px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

#target .target-card .card h2{
    position: static;
width: 284px;
height: 36px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 8;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

#target .target-card .card p{
    position: static;
    width: 284px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 0px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;

    opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

#target .target-card .card a{
    position: static;
width: 284px;
height: 19px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: under
}

#support{
position: absolute;
width: 1140px;
height: 313px;
left: 150px;
right: 150px;
top: 3650px;
bottom: 180px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 64px 48px 64px 48px;

border-radius: 16px;
background-image: url(./assets/handshake.jpg);
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);; 
background-size: cover;
    background-position: center;
}

#support .support-content{
    position: static;
width: 1044px;
height: 185px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
#support .support-content h1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
#support .support-content p{

    position: static;
width: 606px;
height: 52px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 0px;

flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

opacity: .7;

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
#support .support-content form{
    position: static;
width: 684px;
height: 57px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;

flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
#support .support-content form #text{
    position: static;
width: 548px;
height: 57px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 19px 20px 19px 20px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);

color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}
#support .support-content form #btn{
    position: static;
width: 120px;
height: 57px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 17px 20px 17px 20px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;

border-radius: 8px;
background: rgb(255, 255, 255);

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

#footer{
    position: absolute;
width: 1140px;
height: 100px;
left: 0;
top: 4200px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32;
padding: 32px 150px 32px 150px;

border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
}
#footer .footer{
    position: static;
width: 1140px;
height: 36px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

 #footer .footer p{
    position: static;
width: 456px;
height: 23px;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 16;
padding: 0px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

#footer .footer .footer-icon{
background: rgb(255, 255, 255);
}